.logoWidth {
    width: 100px;
}

.customSize {
    font-size: 22px;
    cursor: pointer;
}

.searchBar {
    display: none;
}

.fixedSize {
    height: 35px;
    width: 35px;
}

.titleProfile {
    font-size: 4rem;
}


.width30 {
    width: 30%;
}

#overWhite:hover {
    background-color: white !important;
    color: #141414 !important;
}

.changeIcon {
    position: absolute;
    top: 120px;
    left: 24px;
}

#pencil:hover {
    background-color: rgba(182, 181, 181, 0.714) !important;
    color: black;
    cursor: pointer;

}